* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Roboto,arial,sans-serif;
    color: rgba(0,0,0,.87);
    font-weight: 400;
}

/* COMMON */
.container {
    width: 77%;
    margin: 0 auto;
    margin-top: 100px;
}

h2 {
    margin: 15px 0;
    margin-top: 60px;
}

p {
    margin-bottom: 20px;
    font-size: 15px;
}

.container a {
    text-decoration: none;
    color: royalblue;
}

/* HEADER */

header {
    padding: 0 20px;
    padding-top: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.447);
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.logo span {
    font-size: 20px;
    margin: 0 10px;
}

/* nav */
nav a {
    color: rgba(0, 0, 0, 0.589);
    text-decoration: none;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 50px;
}

nav li {
    margin-right: 60px;
    line-height: 50px;
}

nav li:last-child {
    border-bottom: 3px solid royalblue;
}

/* main */ 
.subtitle {
    font-size: 18px;
    font-weight: 600;
    display: block;

}